// $green: #2f857c;
$green: #085944;
$second-green: #00a700;
$images-green: #00bd6e;
$background-color: #fff;
$black: #2f353a;
$blue: #183668;
$red: #f00;
$yellow: #fcc30b;
$violet: #a6a8fe;

.sdg--1 {
  --sdg-color: #e5243b;
  --sdg-color-rgb: 229, 36, 59;
}
.sdg--2 {
  --sdg-color: #dda63a;
  --sdg-color-rgb: 221, 166, 58;
}
.sdg--3 {
  --sdg-color: #4c9f38;
  --sdg-color-rgb: 76, 159, 56;
}
.sdg--4 {
  --sdg-color: #c5192d;
  --sdg-color-rgb: 197, 25, 45;
}
.sdg--5 {
  --sdg-color: #ff3a21;
  --sdg-color-rgb: 255, 58, 33;
}
.sdg--6 {
  --sdg-color: #26bde2;
  --sdg-color-rgb: 38, 189, 226;
}
.sdg--7 {
  --sdg-color: #fcc30b;
  --sdg-color-rgb: 252, 195, 11;
}
.sdg--8 {
  --sdg-color: #a21942;
  --sdg-color-rgb: 162, 25, 66;
}
.sdg--9 {
  --sdg-color: #fd6925;
  --sdg-color-rgb: 253, 105, 37;
}
.sdg--10 {
  --sdg-color: #dd1367;
  --sdg-color-rgb: 221, 19, 103;
}
.sdg--11 {
  --sdg-color: #fd9d24;
  --sdg-color-rgb: 253, 157, 36;
}
.sdg--12 {
  --sdg-color: #bf8b2e;
  --sdg-color-rgb: 191, 139, 46;
}
.sdg--13 {
  --sdg-color: #3f7e44;
  --sdg-color-rgb: 63, 126, 68;
}
.sdg--14 {
  --sdg-color: #0a97d9;
  --sdg-color-rgb: 10, 151, 217;
}
.sdg--15 {
  --sdg-color: #56c02b;
  --sdg-color-rgb: 86, 192, 43;
}
.sdg--16 {
  --sdg-color: #00689d;
  --sdg-color-rgb: 0, 104, 157;
}
.sdg--17 {
  --sdg-color: #19486a;
  --sdg-color-rgb: 25, 72, 106;
}
