@use '../abstracts' as *;

.navActions {
  width: 90%;
  margin: 0 auto 2em auto;
  gap: 1em;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: row;
  a {
    box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: 0.25);
    display: block;
    width: 8em;
    text-align: center;
    padding: 0.7em;
    border-radius: 10px;

    align-items: center;
    &.active {
      color: white;
      background-color: $green;
    }
  }

  .icon {
    font-size: 1.5em;
  }

  &.large_screen {
    display: none;
  }

  @include responde-to(medium) {
    display: none;

    &.large_screen {
      width: 100%;
      display: flex;
      margin-right: 0;
      justify-content: right;
      a {
        border-radius: 10px 0 0 10px;
      }
    }
  }
}

.navDurations {
  text-align: center;
  margin-bottom: 1.3em;

  button {
    border: none;
    background: none;
  }
  h2 {
    width: 10em;
    text-decoration: underline $green;
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
  }
}
