@use '../abstracts' as *;

.topic {
  color: white;
  width: 18em;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.4);

  &-card-link.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .image {
    background: white;
    border-radius: inherit;
    img {
      border-radius: 20px;
      padding: 1.5em;
      width: 100%;
      height: 16em;
    }
  }
  .text {
    border-radius: inherit;
    border-top-left-radius: 0;
    padding: 0.3em 1em;
    background: var(--sdg-color);
    height: 12em;
  }
}
