{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="font-family: arial">
    <h1 style="color: #2f857c">BeGood</h1>
    <p>Hi <span style="border-bottom: 2px solid green">{{username}}</span>,</p>
    <p>
      To <strong>reset your BeGood password</strong>, please click the button
      below:
      <a
        href="{{reset_password_url}}"
        style="display: block; text-decoration: none; margin: 1.5em 0"
        ><button
          style="
            background: #2f857c;
            padding: 0.5em 0.7em;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1.1em;
          ">
          Reset password
        </button></a
      >
    </p>

    <p>Grazie per far parte di Resistance Italia!</p>
    <p>Il team Resistance</p>
    <hr />
    <small
      >Se non avete richiesto il reset della password, puoi tranquillamente ignorare questo messaggio. &Egrave; probabile che un altro utente abbia inserito per sbaglio il tuoi indirizzo e-mail. Se questo un problema ricorrente, invia un'e-mail a
      <a href="mailto:team@begood.tips">resistance.srl@gmail.com</a></small
    >
  </body>
</html>
